.main{
    width: 1200px;
    height:1000px;
    margin:0 auto;
    position: relative;
}
.left{
    width: 200px;
    height:1000px;
    float:left;
    background-color: red;
}
.right{
    width: 1000px;
    height:1000px;
    float:left;
    background-color: #fafafa;
}
.right .select{
    height: 40px;
    background-color: black;
}
.right .content ul li{
    float:left;
    list-style: none outside none;
    padding-bottom: -10px;
}
.right .pagination{
    float:right;
    margin-top: 20px;
}