.bookList{
    width:1000px;
    margin:20px auto;
}
.bookList .ant-tabs-tab{
    font-size: 20px;

}
.bookList .ant-tabs-tab i{
    margin-right: 5px;
    font-size: 20px;
}
.bookList .ant-tabs{
    font-size: 14px;
}
