

html,body{
    width:100%;
    height:100%;
    background: #b9c1c9;
}
.readerBox{
    width: 1200px;
    background:#e9eff5;
    padding:0 100px;

}
.search{
    width:100%;
    background: #FFFAFA;
}
.readerPage{
    position:absolute;
    margin: 20px auto;

}


.readerCrumb .ant-breadcrumb {
    width: 1200px;
    margin-bottom: 10px;
}

.readerBox .chapInfo{
    text-align: center;
}
.readerBox .chapInfo h3{
    padding-top: 1em;
    font-weight: 600;
}
.readerBox .chapInfo span{
    padding-right: 20px;
    color:#999;
    font-size: 13px;
}

.readerBox .content{
    width:1000px;
}
.readerBox .content p{
    text-indent: 2em;
    font-size: 14px;
}
.readerFooter{
    display:flex;
    justify-content: center;
}

.readerFooter .ant-btn{
    width:200px;
    height:50px;
    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #e6e6e6;

}