.chapterList{
    width: 1200px;
    margin: 20px 0 5em 5em;
}
.header{
    width: 1200px;
    height:50px;
}
.title{
    width: 1200px;
    text-align: center;
}
.title span{
    padding-right: 20px;
}
.title span .sort{
    color:#0078ff;
}
.title span .sort:hover{
    color:#e84848;
}
.content {
    width: 1200px;

}

.v-line{
    border-left: 4px solid #fc7403;
    padding-right: 8px;

    height: 17px;
    margin-bottom: -2px;
}
.volume .name{
    color:#fc7403;
    font-size: 18px;
    margin-right: 10px;
}
.volume .count{
    color:#999;
    font-size: 12px;
    padding-right: 10px;
}
.volume .main{
    width:1200px;

}
.volume .main ul{
    text-align: center;

}
.volume .main ul li{
    list-style: none;
    float:left;
    width:380px;
    text-align: left;
    font-size: 14px;

    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}
.volume .main ul li:last-child{
    margin-bottom: 50px;
}

.volume .main a:hover{
    color:#e84848;
}
.volume a{
    color:#333;
}


