

html,body{
    width:100%;
    height:100%;
}

.readerBox{
    width: 1200px;
    padding:0 100px;
    margin: 20px auto;
    position:relative;

}
.search{
    width:100%;
    background: #FFFAFA;
}
.readerContainer{
    width:1400px;
}
.readerPage{
    position:absolute;
    margin: 20px auto;

}


.readerCrumb .ant-breadcrumb {
    width: 1200px;
    margin-bottom: 10px;
}

.readerBox .chapInfo{
    text-align: center;
}
.readerBox .chapInfo h3{
    padding-top: 1em;
    font-weight: 600;
}
.readerBox .chapInfo span{
    padding-right: 20px;
    color:#999;
    font-size: 13px;
}

.readerBox .content{
    width: 1000px;
    font-family: SimSum;
}
.readerBox .content p{
    text-indent: 2em;
}
.readerFooter{
    display:flex;
    justify-content: center;
}

.readerFooter .ant-btn{

    margin-right: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #e6e6e6;

}

.control .iconfont{
    font-size: 14px;
}
.control span{
    cursor: pointer;
}
.control span:hover{
    color:#e84848;
    font-weight: 700;
}
.htmlFrame{
    width: 100%;
    height:100%;
    overflow-scrolling: unset;


}
