
a{
    color:black;
}
.header{
    width: 1200px;
    margin:0 auto;

}
.header .search{
    width: 1200px;
    height: 80px;
    position: relative;
    margin:20px auto;


}
.search .left{
    width:220px;
    height:80px;
    float:left;
    top:60%;
    margin-top: -48px;
    position:absolute;
    background-color: #fff;

}
.search .center{
    width: 500px;
    height: 50px;
    top:60%;
    left:50%;
    margin-top: -25px;
    margin-left: -250px;
    position:absolute;
    float:left;

}
.search .inputSearch{
    width:400px;
}
.search .inputSearch .ant-btn{
     background-color: red;
    border-color: red;
}
.search .right{
    width:300px;
    height:50px;
    top:60%;
    left:100%;
    margin-left: -300px;
    margin-top: -25px;
    position:absolute;

}
.search .right span{

}
.search .userInfo{
    background-color:#fafafa;
    font-size: 18px;
    float:right;
}
.search .userInfo span{
    padding-right: 5px;
}

.search .right .iconfont{
    font-size: 20px;
}
.search .right .anticon{
    font-size: 20px;
}
.search .username{
    color:#a6a6a6;
}

.header .headerMain{
    width: 1200px;
    height:300px;
    margin-top: 20px;
}
.headerLeft{
    width:200px;
    height:300px;
    float:left;
    text-align: center;
    border : 1px solid #e6e6e6;
    background:#f7f6f2;
}
.headerLeft p{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}
.headerLeft dl{
    text-align: center;
    margin-top: 10px;
    width: 100px;
    float:left;
    margin-left: -20px;
}

.typeComponent{
    width:100px;
    height: 60px;
    position: relative;
}
.typeComponent:hover{

    color:#e84848;
}
.headerLeft .typeIcon{
    width:50%;
    height:50px;
    font-size: 25px;
    display: inline;
}
.headerLeft .typeName{
    width:50%;
    height:50px;
    float:right;
    display: inline;
    margin-left: -40px;
    margin-top: 2px;

}
.headerLeft .typeName span{
    display: block;
}
.headerLeft .typeName .bookNumber{
    font-size: 12px;
    margin-top: -5px;
}

.headerRight{
    width:200px;
    height:300px;
    float:left;
    background:#f7f6f2;
    padding-left: 5px;
}
.headerRight .headerCenter .headerLeft {
    clear:left;
}
.headerRight dt{
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    color:#262626;
}
.headerRight dt:hover{
    color:#e84848;
    font-weight: 700;

}
.headerRight dd:hover{
    margin-left: 5px;
    color:#e84848;
    font-weight: 700;

}

.headerCenter{
    width:800px;
    height:300px;
    float:left;
    background-color: yellow;
}
.headerCenter img{
    width:800px;
    height: 300px;
    min-width: 800px;
    min-height: 300px;
}
.headerCenter .indexMenu{
    width:800px;
    height:50px;
    background:#f7f6f2;
}
.indexMenu .ant-menu-item{
    text-align: center;
    font-size: 20px;
}
.headerCenter .indexMenu .ant-menu-item{
    width:390px;
    margin: 2px;
}
.headerCenter  .slick-slide {
    width:800px;
    text-align: center;
    height: 250px;
    line-height: 160px;
    overflow: hidden;
}
.ant-carousel .slick-dots li.slick-active button{
    background: red;
    width:8px;
}
.ant-carousel .slick-dots li button {
    width:15px;
    height:10px;
    background-color: black;
}

.search .heavyModule {
    width: 1200px;
    height: 300px;

}
.header  .heavyModule h5{
    margin-top: 20px;

}
.search .heavyModule  .slick-slide {
    width:800px;
    text-align: center;
    height: 250px;
    line-height: 160px;
    overflow: hidden;
}
.search .heavyModule  .slick-slide {
    width:1200px;
    height:300px;

}
.card-deck .card{
    width: 200px;
    height: 300px;
    padding-right: 10px;
    overflow: hidden;
    position:relative;
}
.card-deck .card:hover{

    color:#e84848;
}
.card-img-top{
    width:200px;
    height:250px;
    max-width: 100%;
    min-width: 200px;
    max-height: 200px;
    min-height: 250px;
    margin: 10px auto -10px auto;
}

.search .finishedModule{
    width:1200px;
    height:350px;
    margin-bottom: 70px;
}

.search .finishedModule .ant-menu-horizontal > .ant-menu-item{
    border-bottom: 1px;

}
.search .finishedModule  .slick-slide{
    width: 250px;
    height:350px;

}

.leftSelectedCards hr{
    background:black;
    margin:0;
    width:1200px;
}
.leftSelectedCards h5{
    margin-top: 20px;
}
.leftSelectedCards{
    width:250px;
    height:350px;
    float:left;
}

.rightNormalCards{
    width:950px;
    height:350px;
    float:left;
    margin-top: 57px;
    margin-left: -20px;

}
.rightNormalCards ul li{
    float:left;
    margin-left: 10px;
    list-style:none outside none;
}
.rightCardList{
    width:950px;
    height:350px;
    float:left;
    margin-top: 30px;
    margin-left: -20px;
}

.rightCardList h3:hover{

    color: #e84848;
}
.rightCardList ul li{
    float:left;
    margin-left: 10px;
    list-style:none outside none;
}
.rightCardList  .myListCard dd span .bookName:hover{

    color: #e84848;
}
.popularModule .ant-menu-horizontal > .ant-menu-item{
    border-bottom: 1px;
}




