.myNormalCard{
    width: 400px;
    height: 100px;
    position:relative;
    margin-top: 2px;

}
.myNormalCard .bookInfo{
    width:300px;
    height:100px;
    float: left;
    position: relative;
    font-size: 12px;
    margin-left: 70px;
}
.bookInfo p{
    margin-left: 10px;
    color: #000;
}
.bookInfo .bookName{

    font-size: 16px;
}
.bookInfo .bookDesc{

    color: #666666;


}
.myNormalCard .bookStatistics{
    width: 300px;
    position:absolute;
    bottom:0;
    margin-left: 10px;
    color: #a6a6a6;

}
.leftName{
    float:left;
}
.rightTags{
    float:right;
    margin-right: 10px;
}
.rightTags .ant-tag:hover{
    cursor:unset;
}
.myNormalCard .bookImg{
    width:70px;
    height:100px;
    float: left;
    position: absolute;
}
.myNormalCard img{
    width:70px;
    height:100px;
    max-width: 100%;
    min-width: 70px;
    max-height: 100%;
    min-height: 100px;
    float: left;
}
.leftName  .bookImg{
    clear: left;
}
.rightTags{
    clear:right;
}
.myNormalCard img{
    clear: left;
}