.wrap{
    width:1060px;
    margin: 20px auto;
}
.wrap .userInfo {
    width: 1060px;
    height: 150px;
    background-color: #eee;


}
.userInfo img{
    width:120px;
    height:120px;
    margin:15px;
}

.userInfoMsg{
    width: 910px;
    height: 100px;
    float:right;
    margin-top:15px;
    font-size: 12px;

}
.userInfoMsg .description{
    height:40px;
    margin-bottom: 0;
}

.userInfoMsg p{
    margin-top: 15px;
    margin-left: 30px;
}
.userTags{
    margin-left: 30px;
    margin-top: 15px;
}
.userName{
    font-size: 16px;
}
.modifyInfo{
    float:right;
    margin-right: 8em;
    cursor: pointer;
}

.wrap .content{
    width:1000px;
    height:500px;
    margin-top: -20px;
}
.menu{
    width:150px;
    height:500px;
    float:left;
    position: relative;
    background: #e4e8ea;
    border : 1px solid #d8d8d8;
    margin-top: 20px;
}
.menu ul{
    width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 0;
    background: #e4e8ea;
}
.menu .ant-menu .ant-menu-item{
    height:50px;
    vertical-align: middle;
    padding:5px;
    font-size: 14px;
}
.menu .ant-menu .ant-menu-item-selected{
    border-left: 3px solid #365060;
    background: white;
}
.menu .ant-menu .ant-menu-item-selected:after{
    border:none;
    transform: none;
}
.wrap .content .main{
    width:900px;
    height:500px;
    position:absolute;
    margin-top: 20px;
    margin-left: 160px;

}
.main .card-container{
    background: #e4e8ea;
    width:900px;
    margin-top: 0;
}
.main .card-container > .ant-tabs-card > .ant-tabs-content {
    height: auto;
    margin-top: -16px;

}

.main  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
    height: auto;
}

.main  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
}

.main  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
}

.main  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
}
